.table-view:focused {
   /* -fx-background-color: #C8C8C8;
    -fx-background-insets: 0, 1, 2;*/
  -fx-background-color: #C8C8C8 /* or transparent or other preferred color */,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
  -fx-text-fill: black;	
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #C8C8C8 ;
    -fx-background-insets: 0, 1, 2;
}

.table-row-cell:filled:focused:selected {
    -fx-background-color: #C8C8C8 ;
    -fx-background-insets: 0, 1, 2;
}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #C8C8C8 ;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background: #C8C8C8 ;
    -fx-background-color: #C8C8C8 ;
    -fx-background-insets: 0, 1, 2;
}

.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #C8C8C8 ;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
}

.table-view .column-header {
    -fx-background-color: transparent;
}
